body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


/*BUTTON*/
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--green {
  color: #41523c;
  border-color: #41523c;
}
.btn.btn--green:hover {
  color: #FFF;
  background-color: #41523c;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color: #FFF;
  /* border-color: #FFF; */
}
.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}
.btn.btn--white.selected {
  color: #333;
  background-color: #FFF;
}